.find_dup {
  text-align: center;
}

.find_dup_title {
  left: 0;
  right: 0;
  margin: auto;
  font-size: 30px;
  margin-top: 50px;
}

.find_dup_input {
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 100px;
  display: flex;
  margin-top: 50px;
  background-color: rgb(230, 229, 229);
  justify-content: center;
  align-items: center;
}

.find_dup_inputbox {
  width: 250px;
  height: 60px;
  background-color: rgb(202, 202, 202);
  margin: 0 20px;
}
.find_dup_notice {
  margin: 10px;
}
.find_dup_btn {
  margin: 20px;
  width: 150px;
  height: 40px;
}

.find_dup_cover {
  width: 1300px;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
}
.find_dup_cover_box {
  width: 600px;
  height: fit-content;
  background-color: rgb(226, 226, 226);
  left: 0;
  right: 0;
  margin: auto;
}
.find_dup_dep {
  padding-top: 20px;
  font-size: 20px;
}
.find_dup_statsbox {
  display: flex;
  justify-content: center;
}
.find_dup_list {
  width: 200px;
  margin: 5px;
  
}
.find_dup_list_name {
  margin: 18px;
}
.find_dup_list_content {
  height: 25px;
  margin: 5px;
  font-size: 14px;
}
